body{
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
}

/* sidebar styling code */
.wrapper {
    display: flex;
    width: 250px;
    height: 100%;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fff;
    transition: all 0.3s;
}

#sidebar::-webkit-scrollbar{
	display: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* 146668 177779*/
    background: #177779;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #105455;
}

.sidebar-header{
    height: 190px;
    width: 250px;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 15px;
    font-size: 1.1em !important;
    display: block;
}
#sidebar ul li a:hover {
    color: #105455;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #177779;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #105455;
}

.profile{
    height: 70px;
    width: 70px;
    float: left;
    padding: 9px 15px;
    border-radius: 50%;
    background-image: url('../images/girl.jpg');
    background-size: cover;
    background-position: center;
}

#intro{
    font-size: 1rem;
    opacity: 0.8;
    color: #fff;
    letter-spacing: 0.4;
    margin-bottom: 2%;
}

#userName{
    font-size: 1.1rem;
    letter-spacing: 0.4;
}

li i {
    font-size: 1.5rem;
    margin-right: 5%;
    margin-left: 2%;
}

.wrapper{
    display: inline-block;
    height: auto;
}

main{
    display: inline-block ;
    vertical-align: top;
    width: 83.7%;
    height: 100%;
    margin-left: 250px;
}
/* sidebar code ends */

/* logo code */

#ip{
    position: absolute;
    display: block;
    left: 90%;
    top: 3%;
    background-color: white;
    border-radius: 100%;
    width: 75px;
    height: 75px;
}

#ip i {
    margin-top: 12%;
    margin-left: 12%;
    font-size: 3.5rem;
    color: #2BBBAD;
    /* display: inline-block; */
}

/* logo code ends */

/* welcome div code */
.welcome{
    height: auto;
    width: 25%;
    border-radius: 2rem;
    margin-top: 8%;
    margin-left: 5%;
    box-shadow: 0px 0px 40px 1px #177779;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

hr{
    margin-top: -5%;
    border-top: 1px solid white;
}

/* add task modal code starts */

.addTask{
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
    color: white;
}

.addTask{
    background-color: rgb(214, 202, 202);
    background-color: rgb(27, 25, 25);
}

.btn:focus , .btn:hover{
    box-shadow: 0 0 0 0.1rem transparent;
    color: white;
}

.modal-header{
    background-color: #2BBBAD;
    color: white;
}

.close{
    color: white !important;
}

.modal-body i {
    color: #2BBBAD;
}

.taskip{
    border: 0px solid transparent;
    border-bottom: 2px solid rgba(38,146,148,0.6);
    color: #666;
    padding: 0.3rem;
}

#taskName{
    width: 87%;
    font-size: 1.5rem;
    margin-left: 3%;
    float: left;
}

#taskDate{
    float: left;
    margin-left: 3%;
    font-size: 1.2rem;
}

#category{
    width: 40%;
    float: right;
    margin-right: 10%;
    font-size: 1.2rem;
}

input:focus , select:focus{
    outline: none;
}

#priority{
    margin-top: 25%;
    padding-left: 4%;
}

.p-head {
    color: rgb(100, 97, 97);
    font-size: 1.3rem ;
    font-weight: 500;
    float: left;
    /* margin-right: 6%; */
}

.btn-warning{
    background-color: #F9D21F !important;
}

textarea{
    color: #757575;
    display: block;
    outline: none;
    /* resize: none; */
    border-radius: 8px;
    border: 1px solid rgba(38,146,148,0.6);
    padding: 0.5rem;
    color: #666;
    box-shadow: inset 0 0 0.25rem #ddd;
}

.hr2{
    border-top: 1px solid rgba(143, 143, 143, 0.945);
}

form i{
    color: white !important;
}

.custom-radios{
    float: left;
    margin-left: 10%;
}
.custom-radios div {
    display: inline-block;
}
.custom-radios input[type="radio"] {
    display: none;
}
.custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0 ;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
}
.custom-radios input[type="radio"]#color-1 + label span {
    background-color: #2ecc71;
}
.custom-radios input[type="radio"]#color-2 + label span {
    background-color: #3498db;
}
.custom-radios input[type="radio"]#color-3 + label span {
    background-color: #f1c40f;
}
.custom-radios input[type="radio"]#color-4 + label span {
    background-color: #e74c3c;
}
.custom-radios input[type="radio"]:checked + label span img {
    opacity: 1;
}

.tick{
    margin-top: 10px;
}

/* add task modal code ends */

/* main area starts */

.main-area{
    display: flex ;
    justify-content: space-around;
}

.task{
    overflow-y: scroll;
    overflow-x: hidden;
}

.task::-webkit-scrollbar{
	display: none;
}

.task{
    height: 490px; 
    width: 460px;
    background-color: #fafafa;
    margin-top: 4%;
    border-radius: 1rem;
    margin-left: -4%;
    box-shadow: 0px 0px 40px 1px #177779;
}

/* task list code starts */

.taskHead{
    margin: 3% 5% ;
    margin-bottom: 5%;
    font-weight: 650;
    font-size: 1.5rem;
}

.task-list{
    background-color: white;
    border: 1px solid #dfdfdf;
    margin: 4% 5% 2% -4% ;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 0.5rem;
    padding: 5px 15px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 10px 0.5px #dfdfdf;
}

.task-list span {
    font-size: 1.1rem;
}

.task-list input {
    vertical-align: top;
    margin-top: 5%;
    margin-right: 5%;
}

.task-list p {
    font-size: 0.9rem;
    margin-top: 1%;
}

ul{
    list-style: none;
}

/* task list code ends */


/* 
#task-det{
    border: 2px solid red;
} */